<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Vue.Js Datatable</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .table-responsive {
            padding-right: 0;
            padding-left: 0;
            border-width: 0;
        }
    </style>
</head>

<body>
    <div id="table" class="container" data-example='{"type": "html", "label": "HTML"}'>
        <div class="row">
            <div class="col-xs-12 form-inline">
                <div class="form-group">
                    <label for="filter" class="sr-only">Filter</label>
                    <input type="text" class="form-control" v-model="filter" placeholder="Filter">
                </div>
            </div>
        </div>

        <div class="row">
            <div id="table" class="col-xs-12 table-responsive">
                <datatable :columns="columns" :data="rows" :filter-by="filter"></datatable>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 form-inline">
                <datatable-pager v-model="page" type="abbreviated" :per-page="per_page"></datatable-pager>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-xs-12 form-inline">
                <div class="form-group">
                    <label for="filter2" class="sr-only">Filter</label>
                    <input type="text" class="form-control" v-model="filter2" placeholder="Filter">
                </div>
            </div>
        </div>

        <div class="row">
            <div id="table" class="col-xs-12 table-responsive">
                <datatable :columns="columns" :data="rows" :filter-by="filter2" name="table-2"></datatable>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 form-inline">
                <datatable-pager v-model="page2" type="abbreviated" :per-page="per_page2" table="table-2"></datatable-pager>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="./../rows.js"></script>
    <script src="/js/vuejs-datatable.js"></script>
    <script data-example='{"type": "javascript", "label": "Javascript"}'>
        new Vue({
            el: '#table',
            data: {
                filter: '',
                filter2: '',
                columns: [
                    { label: 'ID', field: 'id', align: 'center', filterable: false },
                    { label: 'Username', field: 'user.username' },
                    { label: 'First Name', field: 'user.first_name' },
                    { label: 'Last Name', field: 'user.last_name' },
                    { label: 'Email', field: 'user.email', align: 'right', sortable: false },
                    {label: 'Address', representedAs: function (row) {
                            return row.address + ', ' + row.city + ', ' + row.state;
                        }, align: 'right', sortable: false
                    }
                ],
                rows: window.rows,
                page: 1,
                per_page: 10,
                page2: 1,
                per_page2: 10,
            }
        });
    </script>
</body>

</html>
