<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Vue.Js Datatable</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .table-responsive {
            padding-right: 0;
            padding-left: 0;
            border-width: 0;
        }
    </style>
</head>

<body>
    <div id="table" class="container" data-example='{"type": "html", "label": "HTML"}'>
        <div class="row">
            <div class="col-xs-12">
                Selected Users:
                {{ selected_rows.map(function(row){
                    return row.user.first_name + ' ' + row.user.last_name;
                }).join(', ') }}
            </div>
        </div>

        <div class="row">
            <div id="table" class="col-xs-12 table-responsive">
                <datatable :columns="columns" :data="rows" :filter-by="filter">
                    <template scope="{ row, columns }">
                        <tr
                            :class="{info: selected_rows.indexOf(row) !== -1}"
                            @click="selectRow(row)"
                        >
                            <template>
                                <datatable-cell
                                    v-for="(column, j) in columns"
                                    :key="j"
                                    :column="column"
                                    :row="row"
                                ></datatable-cell>
                            </template>
                        </tr>
                    </template>
                </datatable>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 form-inline">
                <datatable-pager v-model="page" type="abbreviated" :per-page="per_page"></datatable-pager>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="./../rows.js"></script>
    <script src="/js/vuejs-datatable.js"></script>
    <script data-example='{"type": "javascript", "label": "Javascript"}'>
        new Vue({
            el: '#table',
            data: {
                filter: '',
                columns: [
                    { label: 'ID', field: 'id', align: 'center', filterable: false },
                    { label: 'Username', field: 'user.username' },
                    { label: 'First Name', field: 'user.first_name' },
                    { label: 'Last Name', field: 'user.last_name' },
                    { label: 'Email', field: 'user.email', align: 'right', sortable: false },
                    {label: 'Address', representedAs: function (row) {
                            return row.address + ', ' + row.city + ', ' + row.state;
                        }, align: 'right', sortable: false
                    }
                ],
                rows: window.rows,
                page: 1,
                per_page: 10,
                selected_rows: []
            },
            methods: {
                selectRow(row){
                    if(this.selected_rows.indexOf(row) !== -1){
                        let index = this.selected_rows.indexOf(row);
                        this.selected_rows.splice(index, 1);

                        return;
                    }

                    this.selected_rows.push(row);
                }
            }
        });
    </script>
</body>

</html>
